<template>
  <div>
    <div class="navbar-fixed" style="position: absolute;z-index:999999999;">
      <nav class="transparent z-depth-0">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" @click="$router.push('/')" class="brand-logo"><span class="logo-white">
            <img src="@/assets/logo.png" alt="">Safe-Troc</span></a>
          <ul class="right hide-on-med-and-down">
            <li class="active"><a href="#" @click="$router.push('/')">Accueil</a></li>
            <div class="defile">
              <button class="defilebtn white-text">Néo-zone
              </button>
              <div class="defile-content">
                <a href="#" class="white-text" @click="$router.push('/agriculteur')">Agriculteurs</a>
                <a href="#" class="white-text" @click="$router.push('/batisseur')">Batisseurs</a>
                <a href="#" class="white-text" @click="$router.push('/chasseur')">Chasseurs</a>
                <a href="#" class="white-text" @click="$router.push('/guerisseur')">Guérisseurs</a>
                <a href="#" class="white-text" @click="$router.push('/mineur')">Mineurs</a>
                <a href="#" class="white-text" @click="$router.push('/pecheur')">Pêcheurs</a>
              </div>
            </div>
            <li><a href="#" class="white-text" @click="$router.push('/guide')">Guide de survie</a></li>
            <li><a href="#" class="white-text" @click="$router.push('/discussion')">Discussions</a></li>
            <li><a href="#" class="btn btn-orange border-none btn-rounded-corner btn-navbar" @click="$router.push('/echanger')">Echanger<span class="icon-on-button"></span></a></li>
          </ul>
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#" style="color: black !important;" @click="$router.push('/')">Accueil</a></li>
            <li><a href="#" style="color: black !important;" @click="$router.push('/agriculteur')">Agriculteurs</a></li>
            <li><a href="#" style="color: black !important;" @click="$router.push('/batisseur')">Batisseurs</a></li>
            <li><a href="#" style="color: black !important;" @click="$router.push('/chasseur')">Chasseurs</a></li>
            <li><a href="#" style="color: black !important;" @click="$router.push('/guerisseur')">Guérisseurs</a></li>
            <li><a href="#" style="color: black !important;" @click="$router.push('/mineur')">Mineurs</a></li>
            <li><a href="#" style="color: black !important;" @click="$router.push('/pecheur')">Pêcheurs</a></li>
            <li><a href="#" style="color: black !important;" @click="$router.push('/guide')">Guide de survie</a></li>
            <li><a href="#" style="color: black !important;" @click="$router.push('/discussion')">Discussions</a></li>
            <li><a href="#" style="color: black !important;" @click="$router.push('/echanger')">Echanger</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <hr class="navbar-divider">
        </div>
      </nav>
    </div>
    <!-- ========== *// [Right nav] //* ========== -->
    <div class="right-nav hide-on-med-and-down" style="top: 140px;">
      <ul>
        <!-- ====* Home *=== -->
        <li><a href="#" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Accueil" @click="$router.push('/')"><i class="material-icons" style="font-size: 20px!important;">home</i></a></li>
        <!-- ====* About *=== -->
        <li><a href="#" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Agriculteurs" @click="$router.push('/agriculteur')"><i class="material-icons" style="font-size: 20px!important;">pan_tool</i></a></li>
        <!-- ====* Skills *=== -->
        <li><a href="#skills" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Batisseurs" @click="$router.push('/batisseur')"><i class="material-icons" style="font-size: 20px!important;">business</i></a></li>
        <!-- ====* Services *=== -->
        <li><a href="#" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Chasseurs" @click="$router.push('/chasseur')"><i class="material-icons" style="font-size: 20px!important;">call_made</i></a></li>
        <!-- ====* portfolio *=== -->
        <li><a href="#" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Guérisseurs" @click="$router.push('/guerisseur')"><i class="material-icons" style="font-size: 20px!important;">add</i></a></li>
        <!-- ====* testimonials *=== -->
        <li><a href="#" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Mineurs" @click="$router.push('/mineur')"><i class="material-icons" style="font-size: 20px!important;">fiber_smart_record</i></a></li>
        <!-- ====* blog *=== -->
        <li><a href="#" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Pêcheurs" @click="$router.push('/pecheur')"><i class="material-icons" style="font-size: 20px!important;">bubble_chart</i></a></li>
        <!-- ====* contact *=== -->
        <li><a href="#" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Guide de survie" @click="$router.push('/guide')"><i class="material-icons" style="font-size: 20px!important;">insert_drive_file</i></a></li>
        <li><a href="#" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Discussions" @click="$router.push('/discussion')"><i class="material-icons" style="font-size: 20px!important;">insert_comment</i></a></li>
        <li><a href="#" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Echanger" @click="$router.push('/echanger')"><i class="material-icons" style="font-size: 20px!important;">compare_arrows</i></a></li>
      </ul>
    </div>
  </div>
</template>

<script>
import router from '../../router'
import $ from 'jquery'
export default {
  data () {
    return {}
  },
  methods: {
    redirectToExchange () {
      router.push('/echanger')
    }
  },
  mounted: function () {
    this.$M.AutoInit()
    var naviTop = $('.navbar-fixed')
    var navBtn = $('slide-nav-btn')
    var nav = $('.slide-nav')
    var rNavSpan = $('.right-nav ul li i')
    rNavSpan.addClass('hiddendiv')
    $(document).on('scroll', function () {
      var y = $(this).scrollTop()
      if (y === 0) {
        rNavSpan.addClass('hiddendiv')
        naviTop.show(1000)
      }
      if (y > 10) {
        rNavSpan.removeClass('hiddendiv')
        naviTop.hide(1000)
      }
      if (y > 200) {
        rNavSpan.css('background', '#e1e8f0')
        navBtn.css('background', '#e1e8f0')
        nav.css('background', '#e1e8f0')
      } else {
        rNavSpan.css('background', 'rgba(255, 255, 255, 0.05)')
        navBtn.css('background', 'rgba(255, 255, 255, 0.05)')
        nav.css('background', 'rgba(0, 0, 0, 0.38)')
      }
    })
  }
}
</script>

<style>
  /* ---------------------------------------
  start right nav
  ----------------------------------------- */
  .right-nav{
    position: fixed !important;
    right: 0% !important;
    z-index: 9999 !important;
  }
  .right-nav ul li {
    margin-bottom: 16px !important;
    width: 40px !important;
    position: relative !important;
  }
  .right-nav ul li a i {
    color: #97241d !important;
    background: rgba(255, 255, 255, 0.05) !important;
    padding: 7px !important;
    font-size: 10px !important;
    transition: 0.3s !important;
    font-weight: bold !important;
    border: 2px solid transparent !important;
    border-radius: 50% !important;
  }
  .right-nav ul li a i:hover{
    background: #300032 !important;
    border: 2px solid #972368 !important;
  }
  /* ---------------------------------------
end right nav
  ----------------------------------------- */

  /* Dropdown Button */
  .defilebtn {
    background-color: transparent !important;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .defile {
    float: left;
    overflow: hidden;
  }

  /* Dropdown Content (Hidden by Default) */
  .defile-content {
    display: none;
    position: absolute;
    background-color: transparent !important;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .defile-content a {
    display: block;
    height: 40px !important;
    line-height: 35px;
  }

  /* Change color of dropdown links on hover */
  .defile-content a:hover {
  }

  /* Show the dropdown menu on hover */
  .defile:hover .defile-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .defile:hover .defilebtn {
    background-color: transparent !important;
  }

  .right{
    padding-bottom:1px !important;
  }
  .right>li>a:hover, .right>li>a:focus, .defilebtn:hover, .defilebtn:focus, .defile-content>a:hover{
    color: #c43235 !important;
    cursor: pointer;
  }
  .right>li>a.btn-navbar:hover{
    color: #173040 !important;
  }
  .right>li>a{
    color: #fff !important;
    background-color: transparent !important;
  }
  li.active {
    color: #c43235 !important;
    background-color: transparent !important;
  }
  .defile,.defilebtn{
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase !important;
  }
  @media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
      display: none !important;
    }
  }

</style>
