<template>
  <div>
    <maps-globale></maps-globale>
    <composant2></composant2>
    <experience></experience>
  </div>
</template>

<script>
import composant2 from '../description/description1.vue'
import experience from '../experience/experience1.vue'
import mapsGlobale from '../allMaps/mapsGlobale'
import page1 from '../Page1'
export default {
  data () {
    return {
    }
  },
  components: {
    composant2,
    experience,
    mapsGlobale,
    page1
  }
}
</script>

<style>

</style>
