<template>
  <div>
    <maps-globale></maps-globale>
    <composant3></composant3>
  </div>
</template>

<script>
import composant3 from '../description/description3'
import mapsGlobale from '../allMaps/zone3'
export default {
  data () {
    return {
    }
  },
  components: {
    composant3,
    mapsGlobale
  }
}
</script>

<style>

</style>
