<template>
  <div>
    <maps-globale></maps-globale>
    <description></description>
  </div>
</template>

<script>
import mapsGlobale from '../allMaps/zone2'
import description from '../description/description2'
import experience from '../experience/experience2'

export default {
  data () {
    return {
    }
  },
  components: {
    description,
    experience,
    mapsGlobale
  }
}
</script>

<style>

</style>
