<template>
  <div>
    <section class="about" id="about">
      <div class="container">
        <div class="row">
          <img src="@/assets/agri3.jpg" width="175px" height="200px" alt="" class="wow animated bounceInLeft col s12 m12 l6 center-align" data-wow-duration="3s">
          <!-- start information about me -->
          <div class="wow animated bounceInRight col s12 m12 l6 about-info" data-wow-duration="4s" data-wow-offset="10">
            <div class="about-me">
              <h5 class="h-style">About Me</h5>
              <p class="p-style">Quickly syndicate focused leadership and cutting-edge platforms. Intrins drive bricks and clicks applications after 24/7 core competencies. Interactive seize corporate manufactured products vis-a-vis customer directed partnerships.</p>
              <p class="p-style">Holisticly conceptualize premier innovation and optimal outsourcing. Intrinsicly promote professional outsourcing before standards compliant human capital. Progressive based resources with extensive. You can hire me anytime you want.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { WOW } from 'wowjs'
export default {
  data () {
    return {
    }
  },
  mounted: function () {
    this.$M.AutoInit()
    new WOW().init()
  }
}
</script>

<style>
  .container {
    width: 90%;
  }
  .about .about-info .carousel {
    height: 250px;
  }
  .about .about-info .hobby {
    background: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .about .about-info {
    margin-bottom: 20px;
  }
  .about .about-info .about-me {
    border-left: 2px solid rgba(26, 26, 26, 0.17);
    padding-left: 10px;
  }
  h5 {
    font-size: 1.5em;
    color: black !important;
  }
  .about .about-info .about-me h5 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .about .about-info .about-me p {
    margin-bottom: 20px;
    position: relative;
  }
  .p-style {
    color: #262627;
    font-size: 13px;
    margin: 0;
    font-weight: bold;
  }
  .about .about-info .about-me p:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(26, 26, 26, 0.51);
    left: -16px;
    top: 4px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  .about {
    background: #e9eaed;
    padding-top: 80px;
    padding-bottom: 80px;
  }
</style>
