<template>
  <div>
    <section class="home-guide center-align" id="home-guide">
      <div class="content-guide">
        <div class="container">
          <!-- ======== start info ======= -->
          <div class="row">
            <div class="col s12 m6 push-m3">
              <div class="info" style="top: 35vh;">
                <h3 class="white-text wow bounceInDown animated" data-wow-duration="700ms" data-wow-delay="500ms"> AGRICULTEURS </h3>
              </div>
            </div>
          </div>
          <!-- ========== end info ======= -->

          <!-- ===== start down icon ======-->

          <!--====== end down icon =========-->
        </div>
      </div>
    </section>
    <zone-globale2></zone-globale2>
    <div class="container center">
      <div class="row">
        <div class="wow fadeIn animated" data-wow-delay="0.8s">
          <h5 class="center-align ">Comment survivre?</h5>
          <hr class="heading-devider gradient-orange">
        </div>
      </div>
    </div>
    <div class="container center">
      <vue-dh class="col l11">
        <vue-dh-item :image="'../../static/img/img2.jpg'" class="sary col l3" :style="{ height: '200px' }">
          <a href="../../static/img/img2.jpg" data-lightbox="roadtrip" slot="overlay" class="white-hoverdir"> Wai wai </a>
        </vue-dh-item>
        <vue-dh-item :image="'https://i.ytimg.com/vi/oHGrd6GhSs4/maxresdefault.jpg'" class="sary col l3" :style="{ height: '200px' }">
          <a href="../../static/img/img3.jpg" data-lightbox="roadtrip" slot="overlay" class="white-hoverdir"> Wai wai </a>
        </vue-dh-item>
        <vue-dh-item :image="'../../static/img/img3.jpg'" :style="{ height: '200px' }" class="sary col l3">
          <a href="../../static/img/img3.jpg" data-lightbox="roadtrip" slot="overlay" class="white-hoverdir"> Wai wai </a>
        </vue-dh-item>
        <vue-dh-item :image="'../../static/img/img2.jpg'" :style="{ height: '200px' }" class="sary col l3">
          <a href="../../static/img/img2.jpg" data-lightbox="roadtrip" slot="overlay" class="white-hoverdir"> Wai wai </a>
        </vue-dh-item>
        <vue-dh-item :image="'https://i.ytimg.com/vi/oHGrd6GhSs4/maxresdefault.jpg'" :style="{ height: '200px' }" class="sary col l3">
          <a href="https://i.ytimg.com/vi/oHGrd6GhSs4/maxresdefault.jpg" data-lightbox="roadtrip" slot="overlay" class="white-hoverdir"> Wai wai </a>
        </vue-dh-item>
        <vue-dh-item :image="'../../static/img/img6.jpg'" :style="{ height: '200px' }" class="sary col l3">
          <a href="../../static/img/img6.jpg" data-lightbox="roadtrip" slot="overlay" class="white-hoverdir"> Wai wai </a>
        </vue-dh-item>
      </vue-dh>
      <div class="clearfix"></div>
    </div>
    <foot></foot>
  </div>
</template>

<script>
import * as lightbox from 'lightbox2/dist/js/lightbox.js'
import zoneGlobale2 from './neoZone/zoneGlobale2'
import foot from './foot'
export default {
  data () {
    return {}
  },
  components: {
    zoneGlobale2,
    foot
  },
  mounted: function () {
    this.$M.AutoInit()
  },
  methods: {
    mafonction () {
      console.log(lightbox)
    }
  }
}
</script>

<style>
  /*Start Home*/
  .home-guide{
    background-image: url("../assets/background2.jpg") !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    height: 50vh !important;
  }
  .home-guide .content-guide{
    background: rgba(5, 1, 14, 0.8) !important;
    width: 100% !important;
    height: 50vh !important;
  }
  .home-guide .content-guide #particles-js{
    width: 100% !important;
    height: 50vh !important;
    position: absolute !important;
    top: 0 !important;
  }
  .home-guide .content-guide .info{
    color: #fff !important;
    position: relative !important;
  }
  .home-guide .content-guide .info p{
    font-size: 11px !important;
    letter-spacing: 8px !important;
  }
  .home-guide .content-guide .info h4{
    min-height: 70px !important;
    color: #000;
  }

  .home-guide .fa-angle-double-down {
    position: absolute !important;
    bottom: 12% !important;
    color: #FFBB06 !important;
    font-size: 32px !important;
    animation: moveing 1.5s infinite linear !important;
  }
  .home-guide .fa-angle-double-down:hover{
    animation: paused !important;
  }
  @keyframes moveing{
    0%{bottom: 12%}
    50%{bottom:10%;opacity: 0.7 }
    100%{opacity: 0}
  }

  .h-style{
    font-family: 'Montserrat', sans-serif !important;
    color: #8b5cdd;
  }
  /* End Home */

  .heading-devider{
    margin: 0 auto;
    width: 100px;
    height:2px;
    border:0px;
  }
  .btn-jaune, .gradient-jaune {
    background-image: -webkit-linear-gradient(35deg, rgb(232, 193, 70) 0%, rgb(232, 201, 83) 32%, rgb(232, 201, 83) 100%);
    background-image: -o-linear-gradient(35deg, rgb(232, 193, 70) 0%, rgb(232, 201, 83) 32%, rgb(232, 201, 83) 100%);
    background-image: linear-gradient(125deg, rgb(232, 193, 70) 0%, rgb(232, 201, 83) 32%, rgb(232, 201, 83) 100%);
    box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
  }
  .white-hoverdir:hover ,.white-hoverdir, .white-hoverdir:focus {
    color: white;
    display: block;
  }
  .sary {
    margin-top: 10px;
  }
  .titre-p {
    margin-top: 40px !important;;
    margin-bottom: 40px !important;;
    color: #300032 !important;
  }
</style>
