<template>
  <div>
    <div class="parallax-container valign-wrapper row" style="background-color: #546e7aad !important;">
      <div class="section no-pad-bot col s12">
        <div class="container">
          <div class="row valign-wrapper">
            <div class="col s6 row center-align">
            <h4 class="h-style write white-text" style="color: white !important;"></h4>
            <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
            </div>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="@/assets/zombie.jpeg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container center titre-p">
      <div class="row">
        <div class="wow fadeIn animated" data-wow-delay="0.8s">
          <h5 class="center-align">Commentaire</h5>
          <hr class="heading-devider gradient-violet">
        </div>
      </div>
    </div>

    <section class="comment-bg">
      <div class="content-comment">
      <div class="row valign-wrapper" v-for="c in allComment" :key="c.id">
        <div class="col s12 m6 row" >
          <div class="card">
            <div class="card-content">
              <span class="card-title blue-grey-text darken-1" style="font-weight: 600 !important;">{{ c.pseudo }}</span>
              <p class="">{{ c.comment }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row valign-wrapper form-comment" style="margin-top: 30px !important;">
        <form class="col s6 row">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="pseudo" type="text" v-model="pseudo">
              <label for="pseudo">Pseudo</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mode_edit</i>
              <textarea id="comment" class="materialize-textarea" v-model="comment"></textarea>
              <label for="comment">Commentaire</label>
            </div>
          </div>
          <div class="row valign-wrapper">
            <div class="col s6 row">
              <a class="btn btn-violet border-none btn-rounded-corner" @click="addComment()"><i class="material-icons left">cloud</i>Commenter</a>
            </div>
          </div>
          <br><br>
        </form>
      </div>
      <br>
      <br>
    </div>
    </section>
    <foot style="padding-top: 30px !important; padding-bottom: 30px !important;"></foot>
  </div>
</template>
<script>
import foot from './foot'
import 'materialize-css/dist/css/materialize.css'
import {required} from 'vuelidate/lib/validators'
import iziToast from 'izitoast'
import Typed from 'typed.js'
export default {
  components: {
    foot
  },
  data () {
    return {
      allComment: [],
      pseudo: '',
      comment: ''
    }
  },
  validations: {
    pseudo: {required},
    comment: {required}
  },
  watch: {
  },
  methods: {
    addComment () {
      this.$v.pseudo.$touch()
      this.$v.comment.$touch()
      if (this.$v.pseudo.$error || this.$v.comment.$error) {
        iziToast.show({
          title: 'Veuillez remplir tous les champs',
          color: 'red',
          theme: 'dark',
          position: 'topRight'
        })
      } else {
        let params = {
          pseudo: this.pseudo,
          comment: this.comment
        }
        this.$store.dispatch('addCommentaire', params)
          .then((res) => {
            console.log('login', res)
            this.allComment.push(res)
            this.pseudo = ''
            this.comment = ''
          })
          .catch((err) => {
            console.log('error login', err)
          })
      }
    }
  },
  mounted: function () {
    this.$M.AutoInit()
    var options = {
      strings: ['Partagons les informations !!!'],
      typeSpeed: 60,
      loop: false,
      loopCount: Infinity
    }
    var typed = new Typed('.write', options)
    console.log(typed)
    this.$store.dispatch('getComments')
      .then((res) => {
        console.log('comment', res)
        this.allComment = res
      })
      .catch((err) => {
        console.log('error comment', err)
      })
  }
}
</script>

<style>
  .virticle-line, .circle{
    display: none !important;
  }
  .virticle-line, .circle{
    display: block !important;
  }
  .virticle-line{
    height: 40px !important;
    width: 1px !important;
    background: #888 !important;
    margin: 15px auto 5px !important;
  }
  .circleC{
    height: 15px !important;
    width: 15px !important;
    border: 1px solid #888 !important;
    border-radius: 100% !important;
    margin: 0px auto 50px !important;
  }
  h2{
    font-weight: 100 !important;
    font-size: 40px !important;
    text-transform: uppercase !important;
    color: #333 !important;
  }
  .justifie {
    text-align: justify !important;
    text-justify: inter-word !important;
  }
  .row {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 0px !important;
  }
  .comment-bg {
    background-image: url("../assets/comment_background.jpg") !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
  }
  .comment-bg .content-comment {
    background: rgba(255, 255, 255, 0.8) !important;
    width: 100% !important;
    height: 100% !important;
  }
  .parallax-container {
    height: 300px !important;
  }
  .form-comment {
    background-color: #ffffff85;
  }
  .heading-devider{
    margin: 0 auto !important;
    width: 100px !important;
    height:4px !important;
    border:0px !important;
  }
  .titre-p {
    margin-top: 40px !important;;
    margin-bottom: 40px !important;;
    color: #300032 !important;
  }

</style>
