<template>
  <div>
    <div class='parallax-container valign-wrapper bg-echange-head row'>
      <div class='section no-pad-bot col s12'>
        <div class='container'>
          <vue-particles
            color="#fff"
            :particleOpacity="1"
            :particlesNumber="80"
            shapeType="circle"
            :particleSize="4"
            linesColor="#ED6767"
            :linesWidth="1"
            :lineLinked="true"
            :lineOpacity="0.4"
            :linesDistance="150"
            :moveSpeed="3"
            :hoverEffect="true"
            hoverMode="grab"
            :clickEffect="true"
            clickMode="push"
          >
          </vue-particles>
          <div class="row valign-wrapper">
            <div class="col s6 row center-align">
              <h4 class="h-style write white-text" style="margin-top: 130px !important; color: white !important;"></h4>
              <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
            </div>
          </div>
        </div>
      </div>
      <div class='parallax'><img src="@/assets/dialoguer.png" alt='Unsplashed background img 2'></div>
    </div>

    <div class="container center titre-p">
      <div class="row">
        <div class="wow fadeIn animated" data-wow-delay="0.8s">
          <h5 class="center-align">Echanger</h5>
          <hr class="heading-devider gradient-violet">
        </div>
      </div>
    </div>

    <section class="echange-bg">
      <div class="content-echange" style="background-color: #e5e5e5db; !important;">
      <div class='row valign-wrapper center'>
        <div class='col s6 row'>
          <form class='col s12 row'>
            <div class='row'>
              <p class="black-text">Qui êtes-vous?</p>
              <div class='input-field col s12 l12'>
                <v-select v-model='monCategorie' :options='categorie' placeholder="Selectionner..."></v-select>
              </div>
            </div>
            <div class='row'>
              <p class="black-text">Quel est votre produit?</p>
              <div class='input-field col s12 l12'>
                <v-select v-model='monBien' :options='myProduct' id='monBien' placeholder="Selectionner..."></v-select>
              </div>
            </div>
            <div class='row' v-show='monBien'>
              <div class='col s10'>
                <img class='materialboxed responsive-img'  :src='image1' style='margin-top: 30px !important;'>
              </div>
            </div>
            <div class='row'>
              <p class="black-text">Quel quantité avez-vous?</p>
              <div class='input-field col s12'>
                <input id='qtMonBien' type='number' v-model='qtMonBien'>
              </div>
            </div>
            <div class='row'>
              <p class="black-text">Que voulez-vous ?</p>
              <div class='input-field col s12 l12'>
                <v-select v-model='sonCategorie' :options='categorie' id='sonCategorie' placeholder="Selectionner..."></v-select>
              </div>
            </div>
            <div class='row'>
              <p class="black-text">Quel produit voulez-vous ?</p>
              <div class='input-field col s12 l12'>
                <v-select v-model='jeVeux' :options='theirProduct' id='jeVeux' placeholder="Selectionner..."></v-select>
              </div>
            </div>
            <div class='row' v-show='jeVeux'>
              <div class='col s10'>
                <img class='materialboxed responsive-img'  :src='image2' style='margin-top: 30px !important;'>
              </div>
            </div>
            <div class='row'>
              <p class="black-text">Quel quantité voulez-vous?</p>
              <div class='input-field col s12'>
                <input id='qtJeVeux' type='number' v-model='qtJeVeux'>
              </div>
            </div>
          </form>
          <div class='col s12'>
            <a class='btn btn-violet border-none btn-rounded-corner' @click='echanger()'>
              Echanger
            </a>
          </div>
        </div>
      </div>
    </div>
    </section>

    <foot style="padding-top: 30px !important; padding-bottom: 30px !important; margin-top: 20px !important;"></foot>
  </div>
</template>
<script>
import foot from './foot'
import 'materialize-css/dist/css/materialize.css'
import swal from 'sweetalert'
import {required} from 'vuelidate/lib/validators'
import iziToast from 'izitoast'
import Typed from 'typed.js'
export default {
  components: {
    foot
  },
  data () {
    return {
      image1: '',
      monBien: null,
      jeVeux: null,
      image2: '',
      monCategorie: null,
      sonCategorie: null,
      allProduit: [],
      myProduct: [],
      theirProduct: [],
      categorie: [
        {label: 'Chasseurs', value: 'chasseurs'},
        {label: 'Pêcheurs', value: 'pecheurs'},
        {label: 'Guérisseurs', value: 'guerisseurs'},
        {label: 'Bâtisseurs', value: 'batisseurs'},
        {label: 'Agriculteurs', value: 'agriculteurs'},
        {label: 'Mineurs', value: 'mineurs'}
      ],
      qtMonBien: 0,
      qtJeVeux: 0
    }
  },
  validations: {
    monBien: {required},
    jeVeux: {required},
    monCategorie: {required},
    sonCategorie: {required},
    myProduct: {required},
    theirProduct: {required}
  },
  watch: {
    monCategorie: function (val) {
      if (val.value) {
        this.myProduct = this.allProduit.filter(produit => produit.categorie === val.value)
        this.myProduct = this.myProduct.map(obj => {
          var rObj = {
            'label': obj.nom,
            'value': obj.id
          }
          return rObj
        })
      }
      this.monBien = null
    },
    monBien: function (val) {
      console.log('VALEIR', val)
      if (val.value) {
        this.image1 = this.allProduit.filter(produit => produit.id === val.value)
        console.log('VALEIR 2', this.image1)
        this.image1 = this.image1[0].image
      }
    },
    sonCategorie: function (val) {
      if (val.value) {
        this.theirProduct = this.allProduit.filter(produit => produit.categorie === val.value)
        this.theirProduct = this.theirProduct.map(obj => {
          var rObj = {
            'label': obj.nom,
            'value': obj.id
          }
          return rObj
        })
      }
      this.jeVeux = null
    },
    jeVeux: function (val) {
      console.log('VALEIR', val)
      if (val.value) {
        this.image2 = this.allProduit.filter(produit => produit.id === val.value)
        console.log('VALEIR 2', this.image2)
        this.image2 = this.image2[0].image
      }
    }
  },
  methods: {
    echanger () {
      this.$v.monBien.$touch()
      this.$v.jeVeux.$touch()
      this.$v.monCategorie.$touch()
      this.$v.sonCategorie.$touch()
      this.$v.myProduct.$touch()
      this.$v.theirProduct.$touch()
      console.log('TOUCHH', this.$v)

      if (this.$v.monBien.$error || this.$v.jeVeux.$error || this.$v.monCategorie.$error || this.$v.sonCategorie.$error || this.$v.myProduct.$error || this.$v.theirProduct.$error) {
        iziToast.show({
          title: 'Veuillez remplir tous les champs',
          color: 'red',
          theme: 'dark',
          position: 'topRight'
        })
      } else {
        let param = {
          id_entre: this.jeVeux.value,
          qt_entre: this.qtJeVeux,
          id_sortie: this.monBien.value,
          qt_sortie: this.qtMonBien,
          safe_zone: 'Arizona'
        }
        this.$store.dispatch('exchange', param)
          .then((res) => {
            this.image1 = ''
            this.image2 = ''
            this.monBien = null
            this.jeVeux = null
            this.monCategorie = null
            this.sonCategorie = null
            this.myProduct = []
            this.theirProduct = []
            this.qtMonBien = 0
            this.qtJeVeux = 0
            swal('Echange', 'Votre demande d\'échange a été effectuée', 'success')
          })
          .catch((err) => {
            console.log('error Trocs', err)
          })
      }
      console.log()
      /* let param = {
        id_entre: this.jeVeux.value,
        qt_entre: this.qtJeVeux,
        id_sortie: this.monBien.value,
        qt_sortie: this.qtMonBien,
        safe_zone: 'Arizona'
      }
      this.$store.dispatch('exchange', param)
        .then((res) => {
          this.image1 = ''
          this.image2 = ''
          this.monBien = null
          this.jeVeux = null
          this.monCategorie = null
          this.sonCategorie = null
          this.myProduct = []
          this.theirProduct = []
          this.qtMonBien = 0
          this.qtJeVeux = 0
          swal('Echange de Bien', 'Votre demande d\'échange a été effectuée', 'success')
        })
        .catch((err) => {
          console.log('error Trocs', err)
        }) */
    },
    getAllProduit () {
      this.$store.dispatch('getProduit')
        .then((res) => {
          console.log('login', res)
          this.allProduit = res
        })
        .catch((err) => {
          console.log('error login', err)
        })
    }
  },
  mounted: function () {
    this.$M.AutoInit()
    this.getAllProduit()
    var options = {
      strings: ['Effectuez vos échanges ici'],
      typeSpeed: 60,
      loop: false,
      loopCount: Infinity
    }
    var typed = new Typed('.write', options)
    console.log(typed)
  }
}
</script>

<style>
  .virticle-line, .circle{
    display: none !important;
  }
  .virticle-line, .circle{
    display: block !important;
  }
  .virticle-line{
    height: 40px !important;
    width: 1px !important;
    background: #888 !important;
    margin: 15px auto 5px !important;
  }
  .circleC{
    height: 15px !important;
    width: 15px !important;
    border: 1px solid #888 !important;
    border-radius: 100% !important;
    margin: 0px auto 50px !important;
  }
  h2{
    font-weight: 100 !important;
    font-size: 40px !important;
    text-transform: uppercase !important;
    color: #333 !important;
  }
  .justifie {
    text-align: justify !important;
    text-justify: inter-word !important;
  }
  .row {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
  }
  .parallax-container {
    height: 300px !important;
  }
  .heading-devider{
    margin: 0 auto !important;
    width: 100px !important;
    height:4px !important;
    border:0px !important;
  }
  .titre-p {
    margin-top: 40px !important;;
    margin-bottom: 40px !important;;
    color: #300032 !important;
  }
  .parallax-container .parallax img {
    left: 50% !important;
    min-height: 50% !important;
    min-width: 50% !important;
  }
  .bg-echange-head{
    background-color: #1f1a45b8 !important;
  }
  .echange-bg {
    background-image: url("../assets/bg-content-exchange.png");
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
  }
  .echange-bg-bg .content-echange {
    background: rgba(255, 9, 0, 0.8) !important;
    width: 100% !important;
    height: 100% !important;
  }
  #particles-js{
    width: 100% !important;
    height: 40vh !important;
    position: absolute !important;
    top: 0 !important;
  }
</style>
