<template>
  <footer id="footer" class="center content-footer">
    <div class="container text-center">
      <div class="footer-logo">
        <span class="logo-white wow animated wobble"><img src="@/assets/logo.png" alt=""></span>
        <h4 class="text-center animation-box wow bounceIn animated">Safe-Troc</h4>
      </div>
      <ul class="social-icons text-center">
        <li class="wow animated fadeInLeft facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li class="wow animated fadeInRight twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li class="wow animated fadeInLeft linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li class="wow animated fadeInRight googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li class="wow animated fadeInLeft instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>

      <div class="copyright">
        <div class="credits">
          Fait avec du <i class="fa fa-heart"></i> par <a href="https://www.instagram.com/getsteam001" target="_blank">Get's TEAM</a>
        </div>
        <div>©2018 Get's TEAM, All Rights Reserved</div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data () {
    return {}
  },
  mounted: function () {
    this.$M.AutoInit()
  }
}
</script>

<style>
  /* footer */
  #footer {
    background: linear-gradient(180deg, rgb(168, 26, 61), rgb(110, 51, 73)) !important;
    color:white;
  }
  #footer .credits a {
    color:#fff;
    text-decoration:underline;
  }
  #footer .credits{
    padding-bottom: 5px;
  }
  #footer ul.social-icons{
    padding: 0;
  }
  #footer ul.social-icons li {
    display:inline-block;
    margin:5px;
    font-size:35px;
  }
  #footer .copyright {
    margin-top:40px;
    border-top:1px solid rgba(255,255,255,0.31);
    padding-top:40px;
  }
  #footer ul.social-icons i {
    color:white;
    border-radius:100%;
    display:block;
    width: 50px;
    height: 50px;
    padding: 9px;
  }
  #footer ul.social-icons li a {
    display:block;
  }
  #footer .footer-logo h1 {
    color: white;
  }
  #footer .social-icons ul li a i{
    color: white;
    border-color: white;
  }
  #footer .facebook a:hover i {
    color:#fff;
    background-color:#3B5998;
  }
  #footer .twitter a:hover i {
    color:#fff;
    background-color: #2A80BA;
  }
  #footer .linkedin a:hover i {
    color:#fff;
    background-color:#007bb6;
  }
  #footer .googleplus a:hover i {
    color:#fff;
    background-color:#dd4b39;
  }
  #footer .instagram a:hover i {
    color:#fff;
    background-color: #634950;
  }
  #footer .back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 0;
    opacity: 0.75;
  }
  /* ---fin footer */
</style>
