<template>
  <div>
    <section class="home-guide center-align" id="home-guide">
      <div class="content-guide">
        <vue-particles
          color="#fff"
          :particleOpacity="1"
          :particlesNumber="80"
          shapeType="circle"
          :particleSize="4"
          linesColor="#ED6767"
          :linesWidth="1"
          :lineLinked="true"
          :lineOpacity="0.4"
          :linesDistance="150"
          :moveSpeed="3"
          :hoverEffect="true"
          hoverMode="grab"
          :clickEffect="true"
          clickMode="push"
        >
        </vue-particles>
        <div class="container">
          <!-- ======== start info ======= -->
          <div class="row">
            <div class="col s12 m6 push-m3">
              <div class="info" style="top: 35vh;">
                <h3 class="white-text wow bounceInDown animated" data-wow-duration="700ms" data-wow-delay="500ms"> GUIDE </h3>
              </div>
            </div>
          </div>
          <!-- ========== end info ======= -->

          <!-- ===== start down icon ======-->

          <!--====== end down icon =========-->
        </div>
      </div>
    </section>

    <div class="container center titre-p">
      <div class="row">
        <div class="wow fadeIn animated" data-wow-delay="0.8s">
          <h5 class="center-align ">Comment survivre?</h5>
          <hr class="heading-devider gradient-orange">
        </div>
      </div>
    </div>

    <div class="container center">
      <div class="row wow fadeIn animated" data-wow-delay="0.8s">
        <img src="@/assets/Truc.png" width="175px" height="200px" alt="">
      </div>
      <div class="row">
        <div class="col s12 m12 wow fadeInDown animated" data-wow-delay="1.0s">
          <p>La survie lors d'une invasion zombie impose en premier lieu une façon de penser orientée vers l'avenir, avec une stratégie suffisamment structurée.
            En outre, il faudrait se procurer un équipement de base et trouver la «planque» la plus sûre possible.<br>
            <b>À noter que la discrétion est aussi de rigueur</b></p>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Soyez prudent</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="@/assets/zombie-challenge-dubai-1.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container center titre-p">
      <div class="row">
        <div  class="wow bounceIn animated" data-wow-delay="0.8s">
          <h5 class="center-align">Les Armes</h5>
          <hr class="heading-devider gradient-orange">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col s12 m4 center wow fadeInLeft" data-wow-delay="1.0s" data-wow-duration="2.0s">
          <img src="@/assets/images.png" width="75%" height="200" alt="">
          <h5 class="center">Cocktail molotov</h5>
          <p class="justifie">Lancer sur les groupes de zombies pour les tués et les faire fuire. Ils ont peur des feux et des explosions.
            Une arme incendiaire artisanale dont le composant principal est un liquide inflammable,
            habituellement de l'essence ou de l'alcool, contenu dans une bouteille en verre.</p>
        </div>
        <div class="col s12 m4 center wow fadeInUp" data-wow-delay="1.0s" data-wow-duration="2.0s">
          <img src="@/assets/images2.png" width="75%" height="200" alt="">
          <h5 class="center">Fusil</h5>
          <p class="justifie">Tirer dans la tete des zombies, c'est leur seul point vital. Ils reculent aussi devant les coups de feux.
            Le fusil est un type d'arme à feu pourvu d'un canon long et d'une crosse d'épaule. </p>
        </div>
        <div class="col s12 m4 center wow fadeInRight" data-wow-delay="1.0s" data-wow-duration="2.0s">
          <img src="@/assets/infantry-knife.png" width="75%" height="200" alt="">
          <h5 class="center">Couteau</h5>
          <p class="justifie">Lorsque vous etes attraper par des zombies, votre seule option est d'utilisé les couteaux pour éviter les morcures.
            Un couteau est un outil tranchant ou une arme blanche comportant une lame et un manche </p>
        </div>
      </div>
    </div>
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Soyez prudent</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="@/assets/zombie.jpeg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container center titre-p">
      <div class="row">
        <div>
          <h5 class="center-align">Les regles essentielles</h5>
          <hr class="heading-devider gradient-orange">
        </div>
      </div>
    </div>
    <div class="container center">
      <p class="wow fadeInRight center-align" data-wow-delay="0.5s">Organisez-vous avant leur arrivée.</p>
      <p class="wow fadeInLeft center-align" data-wow-delay="0.9s">Grimpez à l’étage. Démolissez l’escalier. </p>
      <p class="wow fadeInRight center-align" data-wow-delay="1.3s">Remuez-vous. Soyez discret. Taisez-vous. Tenez-vous sur vos gardes.  </p>
      <p class="wow fadeInLeft center-align" data-wow-delay="1.6s">Aucun endroit n’est totalement sûr. Juste moins dangereux.</p>
      <p class="wow fadeInRight center-align" data-wow-delay="1.9s">Même si les zombies sont partis, la menace subsiste.</p>
      <p class="wow fadeInLeft center-align" data-wow-delay="2.2s">Ayez beaucoup de nourritures en stock </p>
      </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">Coupez leur la tete</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="@/assets/zombie2.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <footer id="footer" class="center content-footer">
      <vue-particles
        color="#fff"
        :particleOpacity="1"
        :particlesNumber="80"
        shapeType="circle"
        :particleSize="4"
        linesColor="#ED6767"
        :linesWidth="1"
        :lineLinked="true"
        :lineOpacity="0.4"
        :linesDistance="150"
        :moveSpeed="3"
        :hoverEffect="true"
        hoverMode="grab"
        :clickEffect="true"
        clickMode="push"
      >
      </vue-particles>
      <div class="container text-center">
        <div class="footer-logo">
          <span class="logo-white wow animated wobble"><img src="@/assets/logo.png" alt=""></span>
          <h4 class="text-center animation-box wow bounceIn animated">ZombieS</h4>
        </div>
        <ul class="social-icons text-center">
          <li class="wow animated fadeInLeft facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="wow animated fadeInRight twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="wow animated fadeInLeft linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li class="wow animated fadeInRight googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="wow animated fadeInLeft instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>

        <div class="copyright">
          <div class="credits">
            Fait avec de <i class="fa fa-heart"></i> par <a href="https://www.instagram.com/getsteam001" target="_blank">Get's TEAM</a>
          </div>
          <div>©2018 Get's TEAM, All Rights Reserved</div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import * as lightbox from 'lightbox2/dist/js/lightbox.js'
export default {
  data () {
    return {}
  },
  mounted: function () {
    this.$M.AutoInit()
  },
  methods: {
    mafonction () {
      console.log(lightbox)
    }
  }
}
</script>

<style>
  /*Start Home*/
  .home-guide{
    background-image: url("../assets/background2.jpg") !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    height: 50vh !important;
  }
  .home-guide .content-guide{
    background: rgba(5, 1, 14, 0.8) !important;
    width: 100% !important;
    height: 50vh !important;
  }
  .home-guide .content-guide #particles-js{
    width: 100% !important;
    height: 50vh !important;
    position: absolute !important;
    top: 0 !important;
  }
  .home-guide .content-guide .info{
    color: #fff !important;
    position: relative !important;
  }
  .home-guide .content-guide .info p{
    font-size: 11px !important;
    letter-spacing: 8px !important;
  }
  .home-guide .content-guide .info h4{
    min-height: 70px !important;
    color: #000;
  }

  .home-guide .fa-angle-double-down {
    position: absolute !important;
    bottom: 12% !important;
    color: #FFBB06 !important;
    font-size: 32px !important;
    animation: moveing 1.5s infinite linear !important;
  }
  .home-guide .fa-angle-double-down:hover{
    animation: paused !important;
  }
  @keyframes moveing{
    0%{bottom: 12%}
    50%{bottom:10%;opacity: 0.7 }
    100%{opacity: 0}
  }

  .h-style{
    font-family: 'Montserrat', sans-serif !important;
    color: #8b5cdd !important;
  }
  /* End Home */

  .heading-devider{
    margin: 0 auto !important;
    width: 100px !important;
    height:2px !important;
    border:0px !important;
  }
  .btn-jaune, .gradient-jaune {
    background-image: -webkit-linear-gradient(35deg, rgb(232, 193, 70) 0%, rgb(232, 201, 83) 32%, rgb(232, 201, 83) 100%) !important;
    background-image: -o-linear-gradient(35deg, rgb(232, 193, 70) 0%, rgb(232, 201, 83) 32%, rgb(232, 201, 83) 100%) !important;
    background-image: linear-gradient(125deg, rgb(232, 193, 70) 0%, rgb(232, 201, 83) 32%, rgb(232, 201, 83) 100%) !important;
    box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21) !important;
  }
  .white-hoverdir:hover ,.white-hoverdir, .white-hoverdir:focus {
    color: white !important;
    display: block !important;
  }
  .sary {
    margin-top: 10px !important;
  }
  .justifie{
    text-align: justify !important;
    text-justify: inter-word !important;
  }
  .titre-p {
    margin-top: 40px !important;;
    margin-bottom: 40px !important;;
    color: #300032 !important;
  }

  .parallax-container {
    min-height: 300px !important;
    line-height: 0 !important;
    height: auto !important;
    color: rgba(255,255,255,.9) !important;
  }
  .parallax-container .section {
    width: 100% !important;
  }
  /* footer */
  #footer {
    background: linear-gradient(180deg, rgb(168, 26, 61), rgb(110, 51, 73)) !important;
    color:white !important;
    padding:40px 0 !important;
  }
  #footer .credits a {
    color:#fff;
    text-decoration:underline;
  }
  .credits{
    padding-bottom: 5px;
  }
  ul.social-icons{
    padding: 0;
  }
  ul.social-icons li {
    display:inline-block;
    margin:5px;
    font-size:35px;
  }
  .copyright {
    margin-top:40px;
    border-top:1px solid rgba(255,255,255,0.31);
    padding-top:40px;
  }
  ul.social-icons i {
    color:white;
    border-radius:100%;
    display:block;
    width: 50px;
    height: 50px;
    padding: 9px;
  }
  ul.social-icons li a {
    display:block;
  }
  .footer-logo h1 {
    color: white;
  }
  .social-icons ul li a i{
    color: white;
    border-color: white;
  }
  .facebook a:hover i {
    color:#fff;
    background-color:#3B5998;
  }
  .twitter a:hover i {
    color:#fff;
    background-color: #2A80BA;
  }
  .linkedin a:hover i {
    color:#fff;
    background-color:#007bb6;
  }
  .googleplus a:hover i {
    color:#fff;
    background-color:#dd4b39;
  }
  .instagram a:hover i {
    color:#fff;
    background-color: #634950;
  }
</style>
