<template>
  <div>
    <!--1er Parallax-->

    <!--<div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
          <div class="row center">
            <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
          </div>
          <div class="row center">
            <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax"><img src="@/assets/background1.jpg" alt="Unsplashed background img 1"></div>
    </div>-->

    <!-- ========== * [Section (2)] Home * ========== -->
    <section class="home center-align" id="home">
      <div class="content">
        <vue-particles
          color="#fff"
          :particleOpacity="1"
          :particlesNumber="80"
          shapeType="circle"
          :particleSize="4"
          linesColor="#ED6767"
          :linesWidth="1"
          :lineLinked="true"
          :lineOpacity="0.4"
          :linesDistance="150"
          :moveSpeed="3"
          :hoverEffect="true"
          hoverMode="grab"
          :clickEffect="true"
          clickMode="push"
        >
        </vue-particles>
        <div class="container">
          <!-- ======== start info ======= -->
          <div class="row">
            <div class="col s12 m6 push-m3">
              <div class="info" style="top: 314.862px;">
                <h3 class="white-text wow bounceInDown animated" data-wow-duration="700ms" data-wow-delay="500ms"> Echange Securisé</h3>
                <h4 class="h-style write white-text" style="color: white !important;"></h4>
                <a href="#portfolio" class="btn-video white-text"><span class="icon-rounded bordered-ios"><i class="material-icons">arrow_downward</i></span></a>
              </div>
            </div>
          </div>
          <!-- ========== end info ======= -->

        </div>
      </div>
    </section>

    <div class="container center titre-p">
      <div class="row">
        <div class="wow fadeIn animated" data-wow-delay="0.8s">
          <h5 class="center-align ">Qu'est-ce qui s'est passé?</h5>
          <hr class="heading-devider gradient-orange">
        </div>
      </div>
    </div>

    <div class="container center">
      <div class="row">
        <div class="col s12 m12 wow fadeInDown animated" data-wow-delay="1.0s">
          <p>Le 31 Décembre 2018, une filgurante épidémie décime 95% de la population mondiale
            qui se transforme en ... <b>ZOMBIE</b></p>
          <p>Sur chaque territoire, des groupes de recapés se forment et se repartissent en 6 types de néo-zone</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row ligne-card">
        <div class="col s12 m6 wow animated fadeInLeft">
          <div class="card horizontal hoverable">
            <div class="card-image">
              <img src="@/assets/agri.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="color-magenta"><i class="small material-icons">room</i>Néo-zone Agriculteurs</span>
                <p>Retour aux sources… et en plus tout est bio désormais ! Jamais la terre n’a offert d’aussi bons produits ...</p>
              </div>
              <div class="card-action">
                <a href="#" class="color-rouge"><i class="small material-icons">&nbsp;language</i>Visiter</a>
                <a href="#" class="card-action-right color-rouge"><i class="material-icons">&nbsp;room</i>Trouver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 wow animated fadeInRight" data-wow-delay="20ms">
          <div class="card horizontal hoverable">
            <div class="card-image">
              <img src="@/assets/batisseur.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="color-magenta"><i class="small material-icons">room</i>Néo-zone Bâtisseurs</span>
                <p>Même dans le plus grand chaos, l’homme recherche un tant soit peu de confort…
                  Heureusement les bâtisseurs... </p>
              </div>
              <div class="card-action">
                <a href="#" class="color-rouge"><i class="small material-icons">&nbsp;language</i>Visiter</a>
                <a href="#" class="card-action-right color-rouge"><i class="material-icons">&nbsp;room</i>Trouver</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ligne-card">
        <div class="col s12 m6 wow animated fadeInLeft" data-wow-delay="200ms">
          <div class="card horizontal hoverable">
            <div class="card-image">
              <img src="@/assets/chasseurs.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="color-magenta"><i class="small material-icons">room</i>Néo-zone Chasseurs</span>
                <p>Les chasseurs possèdent toutes les aptitudes pour rapporter les bonnnes protéines animales dont les survivants...</p>
              </div>
              <div class="card-action">
                <a href="#" class="color-rouge"><i class="small material-icons">&nbsp;language</i>Visiter</a>
                <a href="#" class="card-action-right color-rouge"><i class="material-icons">&nbsp;room</i>Trouver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 wow animated fadeInRight" data-wow-delay="220ms">
          <div class="card horizontal hoverable overflow-scroll">
            <div class="card-image">
              <img src="@/assets/guerrisseurs.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="color-magenta"><i class="small material-icons">room</i>Néo-zone Guérisseurs</span>
                <p>Depuis toujours, l’humanité a besoin de scientifiques ! Désormais, leur principale mission est de répondre...</p>
              </div>
              <div class="card-action">
                <a href="#" class="color-rouge"><i class="small material-icons">&nbsp;language</i>Visiter</a>
                <a href="#" class="card-action-right color-rouge"><i class="material-icons">&nbsp;room</i>Trouver</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row ligne-card margin-global">
        <div class="col s12 m6 wow animated fadeInLeft" data-wow-delay="400ms">
          <div class="card horizontal hoverable">
            <div class="card-image">
              <img src="@/assets/mineurs.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="color-magenta"><i class="small material-icons">room</i>Néo-zone Mineurs</span>
                <p>Les mineurs sont là pour faire bénéficier tous les survivants de l’énergie nécessaire pour...</p>
              </div>
              <div class="card-action">
                <a href="#" class="color-rouge"><i class="small material-icons">&nbsp;language</i>Visiter</a>
                <a href="#" class="card-action-right color-rouge"><i class="material-icons">&nbsp;room</i>Trouver</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 wow animated fadeInRight" data-wow-delay="420ms">
          <div class="card horizontal hoverable">
            <div class="card-image">
              <img src="@/assets/pech.jpg">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="color-magenta"><i class="small material-icons">room</i>Néo-zone Pêcheurs</span>
                <p>Cette néo-zone vie en bordure de mer. Pour faire partie des pêcheurs, pied marin requis !</p>
              </div>
              <div class="card-action">
                <a href="#" class="color-rouge"><i class="small material-icons">&nbsp;language</i>Visiter</a>
                <a href="#" class="card-action-right color-rouge"><i class="material-icons">&nbsp;room</i>Trouver</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
          </div>
        </div>
      </div>
      <div class="parallax"><img src="@/assets/zombie.jpeg" alt="Unsplashed background img 2"></div>
    </div>

    <!-- Ajout du map -->
    <div class="container center titre-p">
      <div class="row">
        <div class="wow fadeIn animated" data-wow-delay="0.8s">
          <h5 class="center-align">Localisation des 6 Neo-zone</h5>
          <hr class="heading-devider gradient-orange">
        </div>
      </div>
    </div>
    <maps></maps>
    <div class="objectif">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Force et Survie</h5>
              <p class="light">Dans cette extrême apocalypse, les "néo-zoniens" peuvent se servir de l'environnement pour éliminer efficacement les ennemis. La discrétion est aussi de rigeur pour la survie. Un bruit, une lumière peuvent les attirer. Voir tous les guides de survies dans la page dédiée pour cette guide.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">group</i></h2>
              <h5 class="center">S'entraider</h5>
              <p class="light">Dans ce monde infernal, faire des amis est vraiment crucial pour survivre. Plus on est nombreux, plus on a la chance de les battre facilement. Chaque "néo-zonien" a chacune une spécialité dans sa poche. Et aussi, comme disait le proverbe : "L'union fait la force"</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Faire ses échanges</h5>

              <p class="light">Pour vivre dans ce monde, chacuns des "néo-zoniens" ont besoin des ravitaillements utiles dans leurs vies. Pour ca, ils peuvent communiquer ses besoins à travers ce site web pour les partager par d'autres "néo-zoniens" et pour avoir les nouvelles dans les six coins des néo-zones</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- team -->
    <div class="container center titre-p">
      <div class="row">
        <div class="wow fadeIn animated" data-wow-delay="0.8s">
          <h5 class="center-align ">Notre équipe</h5>
          <hr class="heading-devider gradient-orange">
        </div>
      </div>
    </div>

    <div class="container margin-global" id="equipe">
      <div class="row photoequipe">
        <div class="col m3 gridequipe wow fadeInUp animated" data-wow-duration="500ms">
          <div class="hovereffect">
            <img src="@/assets/t1.jpg" alt="" class="responsive-img">
            <div class="overlay">
              <div class="rotate">
                <p class="group1">
                  <a href="https://twitter.com/getsteam301" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="https://www.facebook.com/prezzy.kuzzuki" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </p>
                <hr>
                <hr>
                <p class="group2">
                  <a href="https://www.instagram.com/getsteam001" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <h4 class="color-rouge">@Maminiaina</h4>
          <p class="color-magenta">Développeur</p>
        </div>
        <div class="col m3 gridequipe wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
          <div class="hovereffect">
            <img src="@/assets/t2.jpg" alt="" class="responsive-img">
            <div class="overlay">
              <div class="rotate">
                <p class="group1">
                  <a href="https://twitter.com/getsteam301" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="https://www.facebook.com/rado.harimanana.1" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </p>
                <hr>
                <hr>
                <p class="group2">
                  <a href="https://www.instagram.com/getsteam001" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/rado-harimanana-b15a78131/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <h4 class="color-rouge">@Rado</h4>
          <p class="color-magenta">Développeur</p>
        </div>
        <div class="col m3 gridequipe wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
          <div class="hovereffect">
            <img src="@/assets/t3.jpg" alt="" class="responsive-img">
            <div class="overlay">
              <div class="rotate">
                <p class="group1">
                  <a href="https://twitter.com/getsteam301" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="https://www.facebook.com/abel.maharavo" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </p>
                <hr>
                <hr>
                <p class="group2">
                  <a href="https://www.instagram.com/getsteam001" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <h4 class="color-rouge">@Abel</h4>
          <p class="color-magenta">Développeur</p>
        </div>
        <div class="col m3 gridequipe wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
          <div class="hovereffect">
            <img src="@/assets/t4.jpg" alt="" class="responsive-img">
            <div class="overlay">
              <div class="rotate">
                <p class="group1">
                  <a href="https://twitter.com/getsteam301" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="https://www.facebook.com/aina.razafinahitantsoa" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </p>
                <hr>
                <hr>
                <p class="group2">
                  <a href="https://www.instagram.com/getsteam001" target="_blank">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/lapa-ny-aina-tanjona-razafinahitantsoa-1411b7a8/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <h4 class="color-rouge">@Lapa</h4>
          <p class="color-magenta">Designer</p>
        </div>
      </div>
    </div>
    <!-- //team -->

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
          </div>
        </div>
      </div>
      <div class="parallax"><img src="@/assets/zombie1.jpeg" alt="Unsplashed background img 2"></div>
    </div>

    <footer id="footer" class="center content-footer">
      <vue-particles
        color="#fff"
        :particleOpacity="1"
        :particlesNumber="80"
        shapeType="circle"
        :particleSize="4"
        linesColor="#ED6767"
        :linesWidth="1"
        :lineLinked="true"
        :lineOpacity="0.4"
        :linesDistance="150"
        :moveSpeed="3"
        :hoverEffect="true"
        hoverMode="grab"
        :clickEffect="true"
        clickMode="push"
      >
      </vue-particles>
        <div class="container text-center">
          <div class="footer-logo">
            <span class="logo-white wow animated wobble"><img src="@/assets/logo.png" alt=""></span>
            <h4 class="text-center animation-box wow bounceIn animated">Safe Troc</h4>
          </div>
          <ul class="social-icons text-center">
            <li class="wow animated fadeInLeft facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="wow animated fadeInRight twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="wow animated fadeInLeft linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li class="wow animated fadeInRight googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="wow animated fadeInLeft instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>

          <div class="copyright">
            <div class="credits">
              Fait avec de <i class="fa fa-heart"></i> par <a href="https://www.instagram.com/getsteam001" target="_blank">Get's TEAM</a>
            </div>
            <div>©2018 Get's TEAM, All Rights Reserved</div>
          </div>
        </div>
    </footer>
  </div>
</template>

<script>
import 'materialize-css/dist/css/materialize.css'
import $ from 'jquery'
import Typed from 'typed.js'
import Maps from './maps'

export default {
  data () {
    return {}
  },
  components: {
    Maps
  },
  mounted: function () {
    this.$M.AutoInit()
    var naviTop = $('.navbar-fixed')
    var navBtn = $('slide-nav-btn')
    var nav = $('.slide-nav')
    var rNavSpan = $('.right-nav ul li i')
    rNavSpan.addClass('hiddendiv')
    var options = {
      strings: ['Echanger sans crainte pour mieux vivre'],
      typeSpeed: 100,
      loop: false,
      loopCount: Infinity
    }
    var typed = new Typed('.write', options)
    console.log(typed)
    $(document).on('scroll', function () {
      var y = $(this).scrollTop()
      if (y === 0) {
        rNavSpan.addClass('hiddendiv')
        naviTop.show(1000)
      }
      if (y > 10) {
        rNavSpan.removeClass('hiddendiv')
        naviTop.hide(1000)
      }
      if (y > 200) {
        rNavSpan.css('background', '#e1e8f0')
        navBtn.css('background', '#e1e8f0')
        nav.css('background', '#e1e8f0')
      } else {
        rNavSpan.css('background', 'rgba(255, 255, 255, 0.05)')
        navBtn.css('background', 'rgba(255, 255, 255, 0.05)')
        nav.css('background', 'rgba(0, 0, 0, 0.38)')
      }
    })
  }
}
</script>

<style>
  nav ul a,
  nav .brand-logo {
    color: #444 !important;
  }

  p {
    line-height: 2rem !important;
  }

  .sidenav-trigger {
    color: #26a69a !important;
  }

  .parallax-container {
    min-height: 250px !important;
    line-height: 0 !important;
    height: auto !important;
    color: rgba(255,255,255,.9) !important;
  }
  .parallax-container .section {
    width: 100% !important;
  }

  @media only screen and (max-width : 992px) {
    .parallax-container .section {
      position: absolute !important;
      top: 40% !important;
    }
    #index-banner .section {
      top: 10% !important;
    }
  }

  @media only screen and (max-width : 600px) {
    #index-banner .section {
      top: 0 !important;
    }
  }

  .icon-block {
    padding: 0 15px !important;
  }
  .icon-block .material-icons {
    font-size: inherit !important;
  }

  footer.page-footer {
    margin: 0 !important;
  }

  /*Start Home*/
  .home{
    background-image: url("../assets/zombiesbg.jpg") !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    height: 100vh !important;
  }
  .home .content{
    background: rgba(5, 1, 14, 0.8) !important;
    width: 100% !important;
    height: 100% !important;
  }
  .home .content #particles-js{
    z-index:9999999;
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
  }
  .content-footer #particles-js{
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
  }
  .home .content .info{
    color: #fff !important;
    position: relative !important;
  }
  .home .content .info p{
    font-size: 11px !important;
    letter-spacing: 8px !important;
  }
  .home .content .info h4{
    min-height: 70px !important;
    color: #000;
  }

  .home .fa-angle-double-down {
    position: absolute !important;
    bottom: 12% !important;
    color: #FFBB06 !important;
    font-size: 32px !important;
    animation: moveing 1.5s infinite linear !important;
  }
  .home .fa-angle-double-down:hover{
    animation: paused !important;
  }
  @keyframes moveing{
    0%{bottom: 12%}
    50%{bottom:10%;opacity: 0.7 }
    100%{opacity: 0}
  }

  .h-style{
    font-family: 'Montserrat', sans-serif !important;
    color: #8b5cdd;
  }
  /* End Home */

  /* ---------------------------------------
start right nav
----------------------------------------- */
  .right-nav{
    position: fixed !important;
    right: 0% !important;
    z-index: 9999 !important;
  }
  .right-nav ul li {
    margin-bottom: 16px !important;
    width: 40px !important;
    position: relative !important;
  }
  .right-nav ul li i {
    color: #8b5cdd !important;
    background: rgba(255, 255, 255, 0.05) !important;
    padding: 7px !important;
    font-size: 10px !important;
    transition: 0.3s !important;
    font-weight: bold !important;
    border: 2px solid transparent !important;
    border-radius: 50% !important;
  }
  .right-nav ul li i:hover{
    background: red !important;
    border: 2px solid #8b5cdd !important;
  }
  /* ---------------------------------------
end right nav
  ----------------------------------------- */
  .heading-devider{
    margin: 0 auto;
    width: 100px;
    height:4px;
    border:0px;
  }
  .btn-jaune, .gradient-jaune {
    background-image: -webkit-linear-gradient(35deg, rgb(232, 193, 70) 0%, rgb(232, 201, 83) 32%, rgb(232, 201, 83) 100%);
    background-image: -o-linear-gradient(35deg, rgb(232, 193, 70) 0%, rgb(232, 201, 83) 32%, rgb(232, 201, 83) 100%);
    background-image: linear-gradient(125deg, rgb(232, 193, 70) 0%, rgb(232, 201, 83) 32%, rgb(232, 201, 83) 100%);
    box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21);
  }
  .item-list-right li {
    text-align: right;
  }
  .item-list-left li {
    position: relative;
    text-align: left;
  }
  /* team */
  @media(max-width: 991px){
    .gridequipe {
      float: left;
      width: 25%;
      padding: 0 .5em;
    }
  }

  @media(max-width: 600px){
    .gridequipe {
      width: 50%;
      padding: 0 1em;
    }
    .gridequipe:nth-child(3), .gridequipe:nth-child(4){
      margin-top:2em;
    }
  }

  @media(max-width: 320px){
    .gridequipe {
      width: 100%;
    }
    .gridequipe:nth-child(3), .gridequipe:nth-child(2), .gridequipe :nth-child(4) {
      margin-top: 1.5em;
    }
  }

  /* hovereffect */
  .hovereffect {
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .hovereffect .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  .objectif{
    /*background: linear-gradient(180deg, rgba(150, 18, 94, 0.2), rgb(110, 51, 73, 0.1));*/
    background-color: rgba(150, 18, 94, 0.1);
    color: #fff;
  }
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .hovereffect:hover img,.gridequipe:hover .hovereffect img{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
  }

  .hovereffect .rotate {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .hovereffect hr {
    width: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .hovereffect  hr:nth-child(2) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
  }
  .hovereffect  hr:nth-child(3) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
  }
  .hovereffect hr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: rgba(0, 191, 255, 0.62);
    margin: 0px;
  }

  .group1, .group2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
  }
  .group1 {
    top: 43%;
  }
  .group2 {
    top: 57%;
  }
  .hovereffect p {
    width: 31%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
  }
  .hovereffect p a {
    color: #fff;
  }
  .hovereffect p a:hover,
  .hovereffect p a:focus{
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  .hovereffect  a i {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    padding: 9px;
    font-size: 20px;
  }
  .gridequipe{
    text-align: center;
  }
  .gridequipe h4{
    font-size: 1.2em;
    margin: 1em 0 0;
    text-transform: initial !important;
  }
  .gridequipe p{
    margin: 0px !important;
  }
  .group1 a:first-child i {
    -webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
  }
  .group1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
  }
  .group2 a:first-child i {
    -webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
  }
  .group2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
    transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
  }
  .hovereffect:hover hr:nth-child(2),.gridequipe:hover .hovereffect hr:nth-child(2){
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
  }
  .hovereffect:hover hr:nth-child(3),.gridequipe:hover .hovereffect hr:nth-child(3){
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
  }
  .hovereffect:hover .group1 i:empty, .hovereffect:hover .group2 i:empty,.gridequipe:hover .hovereffect .group1 i:empty,.gridequipe:hover .hovereffect .group2 i:empty{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0) rotate(45deg) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }

  /* animations team */
  @media(max-width: 1080px){
    .hovereffect a i {
      padding: 5px;
    }
  }

  @media(max-width: 991px){
    .hovereffect a i {
      padding: 4px;
      font-size: 16px;
    }
  }
  @media(max-width: 736px){
    .hovereffect a i {
      font-size: 15px;
    }
  }
  @media(max-width: 667px){
    .hovereffect a i {
      font-size: 13px;
      padding: 3px;
    }
  }
  @media(max-width: 600px){
    .hovereffect a i {
      font-size: 18px;
      padding: 10px;
    }
  }
  @media(max-width: 568px){
    .hovereffect a i {
      padding: 8px;
    }
  }
  @media(max-width: 480px){
    .hovereffect a i {
      padding: 5px;
    }
  }
  @media(max-width: 414px){
    .hovereffect a i {
      padding: 3px;
      font-size: 16px;
    }
  }
  @media(max-width: 384px){
    .hovereffect a i {
      padding: 3px;
      font-size: 14px;
    }
  }
  @media(max-width: 320px){
    .hovereffect a i {
      padding: 11px;
      font-size: 16px;
    }
  }
  /* footer */
  #footer {
    background: linear-gradient(180deg, rgb(168, 26, 61), rgb(110, 51, 73));
    color:white;
    padding:40px 0;
  }
  #footer .credits a {
    color:#fff;
    text-decoration:underline;
  }
  .credits{
    padding-bottom: 5px;
  }
  ul.social-icons{
    padding: 0;
  }
  ul.social-icons li {
    display:inline-block;
    margin:5px;
    font-size:35px;
  }
  .copyright {
    margin-top:40px;
    border-top:1px solid rgba(255,255,255,0.31);
    padding-top:40px;
  }
  ul.social-icons i {
    color:white;
    border-radius:100%;
    display:block;
    width: 50px;
    height: 50px;
    padding: 9px;
  }
  ul.social-icons li a {
    display:block;
  }
  .footer-logo h1 {
    color: white;
  }
  .social-icons ul li a i{
    color: white;
    border-color: white;
  }
  .facebook a:hover i {
    color:#fff;
    background-color:#3B5998;
  }
  .twitter a:hover i {
    color:#fff;
    background-color: #2A80BA;
  }
  .linkedin a:hover i {
    color:#fff;
    background-color:#007bb6;
  }
  .googleplus a:hover i {
    color:#fff;
    background-color:#dd4b39;
  }
  .instagram a:hover i {
    color:#fff;
    background-color: #634950;
  }
  .back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 0;
    opacity: 0.75;
  }
  /* ---fin footer */
  .titre-p {
    margin-top: 40px !important;;
    margin-bottom: 40px !important;;
    color: #300032 !important;
  }

  /* Card styles */
  .color-rouge{
    color: #bd1d26 !important;
  }
  .color-magenta{
    color: #300032 !important;
  }
  .card-image img{
    width : 230px !important;
    height : 250px !important;
  }
  .ligne-card{
    margin-bottom: 0px !important;
  }
  .margin-global{
    margin-bottom: 70px !important;
  }
</style>
