<template>
  <div id='map' class='container'>
    <div id='mapdiv' style='width: 100%; height: 400px;'></div>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  mounted: function () {
    this.$M.AutoInit()
    var map = window.AmCharts.makeChart('mapdiv', {
      'type': 'map',
      'theme': 'light',
      'dataProvider': {
        'map': 'worldLow',
        // 'getAreasFromMap': true,
        'areas': [
          { 'id': 'AU', 'color': '#1CB222', 'title': 'zone Pecheur' },
          { 'id': 'US', 'color': '#1CB222', 'title': 'zone Chasseur' },
          { 'id': 'FR', 'color': '#1CB222', 'title': 'zone Guerisseur' },
          { 'id': 'MG', 'color': '#1CB222', 'title': 'zone Bâtisseur' },
          { 'id': 'BO', 'color': '#1CB222', 'title': 'zone Agriculteur' },
          { 'id': 'KZ', 'color': '#1CB222', 'title': 'zone Mineur' }
        ]
      },
      'areasSettings': {
        'autoZoom': true,
        'selectedColor': '#3a89cc'
      },
      'smallMap': {}
    })
    map.addListener('clickMapObject', function (event) {
      console.log('Clicked ID: ' + event.mapObject.id + ' (' + event.mapObject.info + ')')
    })
  },
  created: function () {
  }
}
</script>

<style>
  #map {
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>
