<template>
  <div>
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
          </div>
        </div>
      </div>
      <div class="parallax"><img src="../../static/img/img3.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
      <h2 class="wow center fadeInUp animated" data-wow-delay="15.0s" data-wow-duration="5.0s">ANDROID LAND</h2>
      <div class="virticle-line"></div>
      <div class="circleC"></div>
      <div class="row">
        <div class="col s12 m4">
          <img src="@/assets/img6.jpg" width="80%" height="100%" alt="" class="circle">
        </div>
        <div class="col s12 m8">
          <p class="wow bounceInRight animated justifie" data-wow-delay="1.5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
          </div>
        </div>
      </div>
      <div class="parallax"><img src="../../static/img/img3.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container wow fadeIn animated" data-wow-delay="4.0s">
      <div class="section">
        <h2 class="wow center fadeInRight animated" data-wow-delay="4.0s">NOS SERVICES</h2>
        <div class="virticle-line"></div>
        <div class="circleC"></div>
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text wow fadeInUp animated" data-wow-delay="4.0s"><i class="large material-icons">flash_on</i></h2>
              <h5 class="center">Speeds up development</h5>

              <p class="light justifie">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text wow bounceIn animated" data-wow-delay="1.0s"><i class="large material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>

              <p class="light jusitifie">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text  wow bounceIn animated" data-wow-delay="1.0s"><i class="large material-icons">settings</i></h2>
              <h5 class="center">Easy to work with</h5>

              <p class="light justifie">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <!-- <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5> -->
          </div>
        </div>
      </div>
      <div class="parallax"><img src="../../static/img/img3.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container wow fadeIn animated" data-wow-delay="1.0s">
      <h2 class="wow fadeInDownBig animated center" data-wow-delay="1.0s">GALLERY</h2>
      <div class="virticle-line"></div>
      <div class="circleC"></div>
      <p class="wow center fadeInRight animated" data-wow-delay="1.5s">To take a trivial example, which of us ever undertakes.</p>
      <vue-dh>
        <vue-dh-item :image="'../../static/img/img2.jpg'" :style="{ height: '200px' }">
          <div slot="overlay"> Wai wai </div>
        </vue-dh-item>
        <vue-dh-item :image="'https://i.ytimg.com/vi/oHGrd6GhSs4/maxresdefault.jpg'" :style="{ height: '200px' }">
          <div slot="overlay"> Wai wai </div>
        </vue-dh-item>
        <vue-dh-item class="materialboxed" :image="'../../static/img/img3.jpg'" :style="{ height: '200px' }">
          <div slot="overlay"> Wai wai </div>
        </vue-dh-item>
        <vue-dh-item :image="'../../static/img/img2.jpg'" :style="{ height: '200px' }">
          <div slot="overlay"> Wai wai </div>
        </vue-dh-item>
        <vue-dh-item :image="'https://i.ytimg.com/vi/oHGrd6GhSs4/maxresdefault.jpg'" :style="{ height: '200px' }">
          <div slot="overlay"> Wai wai </div>
        </vue-dh-item>
        <vue-dh-item class="materialboxed" :image="'../../static/img/img3.jpg'" :style="{ height: '200px' }">
          <div slot="overlay"> Wai wai </div>
        </vue-dh-item>
      </vue-dh>
    </div>
  </div>
</template>
<script>
import 'materialize-css/dist/css/materialize.css'
export default {
  data () {
    return {}
  },
  mounted: function () {
    this.$M.AutoInit()
  }
}
</script>

<style>
  .virticle-line, .circle{
    display: none !important;
  }
  .virticle-line, .circle{
    display: block !important;
  }
  .virticle-line{
    height: 40px !important;
    width: 1px !important;
    background: #888 !important;
    margin: 15px auto 5px !important;
  }
  .circleC{
    height: 15px !important;
    width: 15px !important;
    border: 1px solid #888 !important;
    border-radius: 100% !important;
    margin: 0px auto 50px !important;
  }
  h2{
    font-weight: 100 !important;
    font-size: 40px !important;
    text-transform: uppercase !important;
    color: #333 !important;
  }
  .justifie {
    text-align: justify !important;
    text-justify: inter-word !important;
  }

</style>
