<template>
  <div>
    <h1>test</h1>
    <slider animation="fade">
      <slider-item>
          <img src="@/assets/background1.jpg" width="100%" height="100%">
      </slider-item>
      <slider-item>
          <img src="@/assets/background2.jpg" width="100%" height="100%">
      </slider-item>
      <slider-item>
        <img src="@/assets/background3.jpg" width="100%" height="100%">
      </slider-item>
    </slider>
  </div>
</template>

<script>
import { Slider, SliderItem } from 'vue-easy-slider'
export default {
  data () {
    return {}
  },
  mounted: function () {
    this.$M.AutoInit()
  },
  components: {
    Slider,
    SliderItem
  }
}
</script>

<style>
</style>
