<template>
  <div id="app">
    <section class="skills center-align" id="skills">
      <div class="container">
        <h5 class="h-style">SKILLS &amp; EXPERIENCE</h5>
        <p class="p-style">Interactive seize corporate manufactured products vis-a-vis customer directed</p>
        <p class="p-style">Quickly syndicate focused leadership and cutting-edge</p>
        <div class="row">
          <!-- start skill [1] -->
          <div class="col s6 m6 l3">
            <div class="info">
              <div class="wow animated fadeInLeft progress-circle progress-90 one" data-wow-duration="1s" >
                <span class="h-style">90</span>
              </div>
              <h5 class="h-style">WEB DESIGN</h5>
            </div>
          </div>
          <!-- start skill [2] -->
          <div class="col s6 m6 l3">
            <div class="info">
              <div class="wow fadeInUp animated progress-circle progress-75 two" data-wow-duration="1s">
                <span class="h-style">75</span>
              </div>
              <h5 class="h-style">HTML / CSS</h5>
            </div>
          </div>
          <!-- start skill [3] -->
          <div class="col s6 m6 l3">
            <div class="info">
              <div class="wow fadeInDown animated progress-circle progress-70 three" data-wow-duration="1s">
                <span class="h-style">70</span>
              </div>
              <h5 class="h-style">GRAPHIC DESIGN</h5>
            </div>
          </div>
          <!-- start skill [4] -->
          <div class="col s6 m6 l3">
            <div class="info">
              <div class="wow animated fadeInRight progress-circle progress-85 four" data-wow-duration="1s">
                <span class="h-style">85</span>
              </div>
              <h5 class="h-style">UI / UX</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style>
  .skills {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .center, .center-align {
    text-align: center;
  }
  section {
    position: relative;
  }
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }
  .h-style {
    font-family: 'Montserrat', sans-serif;
  }
  h5 {
    font-size: 1.8rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.3;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  .p-style {
    color: #262627;
    font-size: 13px;
    margin: 0;
    font-weight: bold;
  }
  p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
  .container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  .row {
    margin-bottom: 0;
  }
  .skills .info {
    margin-top: 50px;
  }
  .progress-circle {
    width: 130px;
    height: 130px;
  }
  .progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ebebeb;
  }
  .progress-circle span {
    background: #ffffff;
    left: 31%;
    top: 31%;
    width: 130px;
    height: 130px;
    line-height: 130px;
    color: #424d65;
    font-size: 28px;
  }
  .progress-circle span {
    color: #8b8b8b;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
  }
  .progress-circle.progress-90:after {
    background-image: linear-gradient(54deg, #30bae7 50%, transparent 50%, transparent),
    linear-gradient(270deg, #30bae7 50%, #ebebeb 50%, #ebebeb);
  }
  .progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
  }
  .progress-circle span:after {
    content: "%";
    font-weight: 600;
    color: #424d65;
  }
  .progress-circle span:after {
    content: "%";
    font-weight: 600;
    color: #8b8b8b;
  }
  .progress-circle.progress-75:after {
    background-image: linear-gradient(0deg, #d74680 50%, transparent 50%, transparent),
    linear-gradient(270deg, #d74680 50%, #ebebeb 50%, #ebebeb);
  }
  .progress-circle.progress-70:after {
    background-image: linear-gradient(-18deg, #4fd4bd 50%, transparent 50%, transparent),
    linear-gradient(270deg, #4fd4bd 50%, #ebebeb 50%, #ebebeb);
  }
  .progress-circle.progress-85:after {
    background-image: linear-gradient(36deg, #eb8050 50%, transparent 50%, transparent),
    linear-gradient(270deg, #eb8050 50%, #ebebeb 50%, #ebebeb);
  }
</style>
