<template>
  <div id='map' class='container row'>
    <div class="col s12 m12 l6 xl6">
      <div id='mapdiv' style='width: 100%; height: 400px;'></div>
    </div>
    <div class="row col s12 m12 l6 xl6">
      <h4 class="col l12 m12 s12 xl12 center-align wow animated fadeInTop">PÊCHEUR D'AUSTRALIE</h4>
      <p class="wow animated fadeInRight left-align">L’on naît pêcheur, comme l’on naît poète ou chasseur, et,
        dès son enfance, le pêcheur s’est essayé à prendre épinoches ou vairons à l’aide de lignes rudimentaires.
        Par la suite, le disciple de saint Pierre s’est instruit. Il a lu une multitude de livres traitant de la pêche,
        indiquant les moyens adéquats à la capture de tous poissons, la composition d’amorces infaillibles et les secrets
        du braconnier d’eau. Puis, ayant constaté la vanité de cette science livresque, il s’est astreint à apprendre à pêcher
        en faisant appel à son intelligence et à ses dons d’observation.</p>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  mounted: function () {
    this.$M.AutoInit()
    var icon = 'M21.25,8.375V28h6.5V8.375H21.25zM12.25,28h6.5V4.125h-6.5V28zM3.25,28h6.5V12.625h-6.5V28z'
    var map = window.AmCharts.makeChart('mapdiv', {
      'type': 'map',
      'theme': 'light',
      'dataProvider': {
        'map': 'worldLow',
        'images': [ {
          'latitude': 40.3951,
          'longitude': -73.5619,
          'svgPath': icon,
          'color': '#0106cc',
          'scale': 0.5,
          'label': 'New York',
          'labelShiftY': 2,
          'title': 'New York',
          'description': 'New York is the most populous city in the United States and the center of the New York Metropolitan Area, one of the most populous metropolitan areas in the world.'
        },
        {
          'latitude': 41.592350,
          'longitude': 14.617011,
          'svgPath': icon,
          'color': '#0106cc',
          'scale': 0.5,
          'label': 'Molise',
          'labelShiftY': 2
        }
        ],
        // 'getAreasFromMap': true,
        'areas': [
          { 'id': 'AU', 'color': '#1CB222' }
        ]
      },
      'areasSettings': {
        'autoZoom': true,
        'selectedColor': '#3a89cc'
      },
      'smallMap': {}
    })
    map.addListener('clickMapObject', function (event) {
      console.log('Clicked ID: ' + event.mapObject.id + ' (' + event.mapObject.info + ')')
    })
  },
  created: function () {
  }
}
</script>

<style>
  #map {
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>
