<template>
  <div id='map' class='container row'>
    <div class="col s12 m12 l6 xl6">
      <div id='mapdiv' style='width: 100%; height: 400px;'></div>
    </div>
    <div class="row col s12 m12 l6 xl6">
      <h4 class="col l12 m12 s12 xl12 center-align wow animated fadeInTop">Malaza</h4>
      <p class="wow animated fadeInRight">Dans l'Architecture comme en toute autre science, on remarque deux choses ;
        celle qui est signifiée et celle qui signifie : la chose signifiée est celle dont l'on traite, et celle qui
        signifie est la démonstration que l'on en donne par le raisonnement soutenu de la science. C'est pourquoi il
        est nécessaire que l'Architecte connaisse l'une et l'autre parfaitement. Ainsi il faut qu'il soit ingénieux
        et laborieux tout ensemble; car l'esprit sans le travail, ni le travail sans l'esprit, ne rendirent jamais aucun ouvrier parfait.</p>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  mounted: function () {
    this.$M.AutoInit()
    window.AmCharts.makeChart('mapdiv', {
      'type': 'map',
      'theme': 'light',
      'dataProvider': {
        'map': 'worldLow',
        // 'getAreasFromMap': true,
        'areas': [
          { 'id': 'MG', 'color': '#1CB222' }
        ]
      },
      'areasSettings': {
        'autoZoom': true,
        'selectedColor': '#3a89cc'
      },
      'smallMap': {}
    })
  },
  created: function () {
  }
}
</script>

<style>
  #map {
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>
