<template>
  <div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <getsHeader></getsHeader>
    <router-view/>
  </div>
</template>

<script>
import {WOW} from 'wowjs'
import getsHeader from './components/layout/Header'
export default {
  components: {
    getsHeader
  },
  name: 'App',
  mounted: function () {
    this.$M.AutoInit()
    new WOW().init()
    /* eslint-disable */
    'use strict'
    !function () {
      var t = window.driftt = window.drift = window.driftt || []
      if (!t.init) {
        if (t.invoked) {
          return void (window.console && console.error && console.error('Drift snippet included twice.'))
        }
        t.invoked = !0,
          t.methods = [ 'identify', 'config', 'track', 'reset', 'debug', 'show', 'ping', 'page', 'hide', 'off', 'on' ],
          t.factory = function (e) {
            return function() {
              var n = Array.prototype.slice.call(arguments)
              return n.unshift(e), t.push(n), t
            }
          }, t.methods.forEach(function(e) {
          t[e] = t.factory(e)
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement('script')
          o.type = 'text/javascript', o.async = !0, o.crossorigin = 'anonymous', o.src = 'https://js.driftt.com/include/' + n + '/' + t + '.js'
          var i = document.getElementsByTagName('script')[0]
          i.parentNode.insertBefore(o, i)
        }
      }
    }()

    drift.SNIPPET_VERSION = '0.3.1'
    drift.load('pkd7hs24mmre')
  }
}
</script>

<style>
  h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
  }
  h1{
    font-size: 3.998em !important;
  }
  h2{
    font-size: 2.827em !important;
  }
  h3{
    font-size: 1.999em !important;
  }
  h4{
    font-size: 1.414em !important;
  }
  p{
    font-size: 1em !important;
    color: #999999 !important;

  }
  .container{
    width: 83% !important;
  }
  .nav-wrapper>ul>li>a{
    font-family: 'Montserrat', sans-serif !important;
    color: #fff !important;
    text-transform: uppercase !important;
  }
  .navbar-fixed{
    margin: 25px !important;
  }
  .logo-white img{
    max-height: 40px !important;
  }
  .logo-white{
    color: #fff !important;
  }
  .logo-white img{
    display: inline-block !important;
    text-transform: uppercase !important;
    max-height: 50px !important;
    margin-right: 10px !important;

  }
  .btn{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 0.707em !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    padding:12px 40px !important;
    box-shadow: 0px 4px 10px 0px rgba(91, 91, 91, 0.45) !important;
    line-height: 1 !important;
    transition: all .5s ease !important;
    letter-spacing: 1px !important;
  }

  .icon-on-button{
    position: relative !important;
    margin-left: 8px !important;
  }
  .icon-on-button i{
    font-size: 18px !important;
    vertical-align: middle !important;
  }
  .btn-orange.focus, .btn-orange:focus,.btn-orange.active, .btn-orange:active {
    color: #fff !important;
    background-color: #286090 !important;
    border-color: #122b40 !important;
  }
  .btn-orange,.btn-violat{
    color: #fff !important;
  }
  .border-none{
    border: 0px !important;
  }
  .btn-video:hover{
    text-decoration: none !important;
    color: #bd1d26 !important;
    z-index: 999 !important;
  }
  .btn-video:hover .icon-rounded{
    border-color: #bd1d26 !important;
    box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21) !important;
    color: #bd1d26 !important;
  }
  .icon-rounded{
    width: 64px !important;
    height: 64px !important;
    display: inline-block !important;
    border-radius: 50% !important;
    background-color: #fff !important;
    vertical-align: middle !important;
    position: relative !important;
    transition: all .5s ease !important;
    animation: pulse .5s infinite !important;
    -webkit-animation: pulse .5s infinite !important;
    -moz-animation: pulse .5s infinite !important;
    -o-animation: pulse .5s infinite !important;
  }
  .icon-rounded i{
    font-size: 3rem !important;
    line-height: 30px !important;
    height:30px !important;
    width: 30px !important;
    margin: auto !important;
    position: absolute !important;
    top: 0; left: 0; bottom: 0; right: 0 !important;
    margin-left: 10px !important;
    transition: all .5s ease !important;

  }
  .btn-rounded-corner{
    border-radius: 50px !important;
  }
  .btn-violet,.gradient-violet {
    background-image: -webkit-linear-gradient(35deg, rgb(84, 0, 86) 0%, rgb(64, 0, 66) 32%, rgb(48, 0, 50) 100%) !important;
    background-image: -o-linear-gradient(35deg, rgb(84, 0, 86) 0%, rgb(64, 0, 66) 32%, rgb(48, 0, 50) 100%) !important;
    background-image: linear-gradient(125deg, rgb(84, 0, 86) 0%, rgb(64, 0, 66) 32%, rgb(48, 0, 50) 100%) !important;
    box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21) !important;
  }
  .btn-orange,.gradient-orange {
    background-image: -webkit-linear-gradient(35deg, rgb(196, 50, 53) 0%, rgb(199, 51, 54) 32%, rgb(189, 29, 38) 100%) !important;
    background-image: -o-linear-gradient(35deg, rgb(196, 50, 53) 0%, rgb(199, 51, 54) 32%, rgb(189, 29, 38) 100%) !important;
    background-image: linear-gradient(125deg, rgb(196, 50, 53) 0%, rgb(199, 51, 54) 32%, rgb(189, 29, 38) 100%) !important;
    box-shadow: 0px 8px 27px 0px rgba(116, 44, 69, 0.21) !important;
  }
  .bordered-ios{
    background-color: transparent !important;
    border-color: #fff !important;
    border:1px solid !important;
  }
  .navbar-divider{
    position:relative !important;
    top: 70px !important;
    width:100% !important;
    height: 1px !important;
    border:0px !important;
    background-color: rgba(255,255,255,0.1) !important;
    transition: all .5s ease !important;
  }
  body {
    background-color: #e6e6e8;
  }


</style>
